/*---------------------- Media Queries-------------- */

/* 992- 1200px */
@media screen and (max-width: 1200px) {
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .header {
    background-position: -60vw center;
  }
  .container {
    width: 700px;
  }
}
/* 576-768px */
@media screen and (max-width: 768px) {
  .container {
    width: 520px;
  }
}
/* 320-576px  */
@media screen and (max-width: 576px) {
  .header {
    background-position: -45vw center;
  }
  .container {
    width: 90%;
  }
  
}